<!-- <nav class="UnderlineNav UnderlineNav--right px-2">
  <a class="UnderlineNav-actions  h2" href="{{ .Site.BaseURL }}">
    {{ .Site.Title }}
  </a>
  <input type="checkbox" class="Navbar-Checkbox">
  <div class="MobileNav">
    <span></span>
  </div>
  {{ $currentPage := . }}
  {{ with .Site.Menus.main }}
  <div class="UnderlineNav-body">
    {{ range sort . }}
    {{ if .HasChildren }}
    <div class="flex-column position-relative dropdown" >
      {{ .Pre }}
      <span class="UnderlineNav-item {{ if $currentPage.HasMenuCurrent "main" . }}selected{{ end }}">{{ .Name }}</span>
      <div class="Box Box--condensed position-absolute dropdown-content ">
        {{ range .Children }}
        <div class="Box-body" style="">
          <a href="{{ .RelPermalink }}">
            {{ .Name }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ else }}
    <a class="UnderlineNav-item {{ if $currentPage.IsMenuCurrent "main" . }}selected{{ end }}" href="{{ .URL }}">
      {{ .Pre }}
      <span>{{ .Name }}</span>
    </a>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
</nav>
-->
<nav class="luxbar-static">

  <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
  <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-indigo">
    <ul class="luxbar-navigation">
      <li class="luxbar-header">
        <a class="luxbar-brand" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
        </a>
        <label class="luxbar-hamburger luxbar-hamburger-doublespin" 
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
        </li>
        {{ $currentPage := . }}
  {{ with .Site.Menus.main }}
    {{ range sort . }}
    {{ if .HasChildren }}
    <li class="luxbar-item dropdown" >
      <!-- {{ .Pre }} -->
      <a href="">{{ .Name }}</a>
        <ul>
        {{ range .Children }}
        <li class="luxbar-item">
          <a href="{{ .RelPermalink }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
        </ul>
      </li>
    </li>
    {{ else }}
    <!-- .URL -->
    <li class="luxbar-item">
    <a href="{{ .URL }}">
{{ .Name }}
    </a>
    </li>

    {{ end }}
    {{ end }}
  </ul>
  {{ end }}
    </div>
</nav>