
<nav class="luxbar-fixed">
  <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
  <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-indigo">
    <ul class="luxbar-navigation">
      <li class="luxbar-header">
        <a class="luxbar-brand" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
        </a>
        <label class="luxbar-hamburger luxbar-hamburger-doublespin" 
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
        </li>
        {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="luxbar-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }} active {{ end }}" >
     
      <a href="{{ .URL }}"> {{ .Pre }}{{ .Name }}</a>
        <ul>
        {{ range .Children }}
        <li class="luxbar-item {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}">
          <a href="{{ .URL }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
        </ul>
      </li>
    </li>
    {{ else }}
    <!-- .URL -->
    <li class="luxbar-item {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}">
      <a href="{{ .URL }}">
        {{ .Pre }} {{ .Name }}
    </a>
    </li>

    {{ end }}
    {{ end }}
  </ul>

    </div>
</nav>
<div class="luxbar-fixed-dummy"></div>