/* custom css here */
html,
body {
  height: 100%;
}
.h-100 {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  clear: both;
}
.w-30 {
  width: 30%;
}
.w-15 {
  width: 30%;
}
.h-300px {
  height: 300px;
}
/* .h-300px img{
  height:100%;
  max-height:300px;
} */
.bg-lightest-indigo {
  background-color: #e8eaf6;
}
.bg-grey-100 {
  background-color:#F5F5F5;
}
.card-shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
figure img {
  border-radius: 5px;
}
figure {
  margin: 0;
  padding: 0;
  height: fit-content;
}

.fig-block {
  display: block;
  float: left;
  border: solid 0.7px lightgray;
  margin: 15px;
  padding: 0.25em;
}
.fig-block img {
  margin: 0;
  max-height: 100%;
}
.fig-block figcaption {
  text-align: center;
}
.fig-resizebox {
  float: right;
  border-radius: 1px;
  padding: 0em;
  margin: 0.5em 0 1.3em 1.4em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  /* border: solid 0.7px lightgray; */
    /* background-color: #3f51b5; */
}
.fig-resizebox img {
  border-radius: 0px;
  display: block;
  /* margin: 0.5em 1.4em; */
}

.fig-resizebox figcaption {
  text-align: center;
  background-color: #fefefe;
  color:#757575;
  margin: 0;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.magnify {
  display: block;
  float: right;
  height: 10px;
  margin: 0;
  position: relative;
  /* font-size: 6px; */
}
.fig-resizebox figcaption * {
  margin: 0;

}

.fig-right {
  /* padding: 2rem; */
  border-radius: 2px;
  float: right;
  /* width: 30%; */
  border: solid 0.7px lightgray;
  margin: 0.5em 0 1.3em 1.4em;
  padding: 0.25em;
}
.fig-right figcaption {
  text-align: center;
  background-color: #3f51b5;
  color: white;
  margin: 0;
  padding: 0.5em;
}
.fig-right figcaption * {
  margin: 0;
}
#holy {
  display: grid;
  /* auto: as wide as its content
   * fr: all available space */
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main side"
    "footer side";
}
#header {
  grid-area: header;
}
#main {
  grid-area: main;
  max-width: 782px;
}
#side {
  grid-area: side;
  width: 230px;
  margin-left: 10px;
}
#footer {
  grid-area: footer;
}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: auto;
}

/* Menu */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  top: 55px;
  right: 0;
  white-space: nowrap;
  min-width: 160px;
  z-index: 1;
}
.markdown-body {
  color: #616161;
}
.lum-lightbox,
.lum-open {
  z-index: 1000;
}
.lum-close-button {
  margin-top: 1em;
  margin-right: 1em;
  opacity: 0.6;
  background-color: white;
  border-radius: 32px;
}
.lum-close-button::before,
.lum-close-button::after {
  background-color: #333;
}
@media (max-width: 460px) {
  .lum-lightbox-inner,
  .lum-lightbox-inner img {
    max-width: 100%;
  }
}
/* TOC */
#toc {
  margin-top: 64px;
  padding: 0.7rem;
}

#toc * {
  list-style: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#toc ul {
  padding-left: 0.8rem;
}
#toc li {
  margin-top: 0.3rem;
}
.author-card-content {
  float: left;
  background-color: azure;
}
.author-card {
  display: block;
}

.avatar-img {
  margin: 10px;
  float: left;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: azure;
}

.fbox-6{
  display: flex;
}


/* 
.markdown-body p{
  line-height: 1.8em!important;
} */
.UnderlineNav {
  background: #0D47A1;
  color: white;
}
.UnderlineNav * {
  /* background: #303f9f; */
  color: white;
}

@media screen and (max-width: 1012px) {
  #holy {
    display: block;
  }
  #header {
  }
  #main {
    max-width: 1012px;
  }
  #side {
    display: none;
  }
}

.markdown-body h2 {
  border: none;
}


.snsicon{transition: color 0.2s;}
.snsicon:hover { color:#cae8d5;}
.snsicon{font-size: 18pt;}

.breadcrumb {
  margin-top:48px;
  padding-left: 0!important;
}
.breadcrumb li {
  display: inline;
  list-style: none;
}
.breadcrumb li:not(:last-child)::after {
  content: '>';
  padding: 0 0.5em;
}


.btn-mg{
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #00B8D4;
  color: #ecf0f1;
  
  transition: background-color .3s;
}
.btn-mg:hover, .btn-mg:focus {
  background-color: #37474F;
}

.btn-mg > * {
  position: relative;

}
a.btn-mg:hover{
    text-decoration:none;
}
.btn-mg span {
  display: block;
  padding: 12px 24px;
}

.btn-mg:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(55, 71, 79, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-mg:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}