/* custom css here */
html,
body {
  height: 100%;
}
.h-100 {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  clear: both;
}
.w-30 {
  width: 30%;
}
.w-15 {
  width: 30%;
}
.h-300px {
  height: 300px;
}
/* .h-300px img{
  height:100%;
  max-height:300px;
} */

figure img {
  border-radius: 5px;
}
figure {
  margin: 0;
  padding: 0;
  height: fit-content;
}

.fig-block {
  display: block;
  float: left;
  border: solid 0.7px lightgray;
  margin: 15px;
  padding: 0.25em;
}
.fig-block img {
  margin: 0;
  max-height: 100%;
}
.fig-block figcaption {
  text-align: center;
}
.fig-resizebox {
  float: right;
  border-radius: 2px;
  padding: 0.5em;
  margin: 0.5em 0 1.3em 1.4em;
  border: solid 0.7px lightgray;
}
.fig-resizebox img {
  border-radius: 0px;
  display: block;
  /* margin: 0.5em 1.4em; */
}

.fig-resizebox figcaption {
  text-align: center;
  background-color: #f6f8fa;
  margin: 0;
}

.magnify {
  display: block;
  float: right;
  height: 10px;
  margin: 0;
  position: relative;
  /* font-size: 6px; */
}
.fig-resizebox figcaption * {
  margin: 0;
}

.fig-right {
  /* padding: 2rem; */
  border-radius: 2px;
  float: right;
  /* width: 30%; */
  border: solid 0.7px lightgray;
  margin: 0.5em 0 1.3em 1.4em;
  padding: 0.25em;
}
.fig-right figcaption {
  text-align: center;
  background-color: #f6f8fa;
  margin: 0;
  padding: 0.5em;
}
.fig-right figcaption * {
  margin: 0;
}
#holy {
  display: grid;
  /* auto: as wide as its content
   * fr: all available space */
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main side"
    "footer side";
}
#header {
  grid-area: header;
}
#main {
  grid-area: main;
  max-width: 782px;
}
#side {
  grid-area: side;
  width: 230px;
}
#footer {
  grid-area: footer;
}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: auto;
}

/* Menu */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  top: 55px;
  right: 0;
  white-space: nowrap;
  min-width: 160px;
  z-index: 1;
}
.markdown-body{
  color:#333;
}
/* TOC */
#toc {
  margin-top: 64px;
  padding: 0.7rem;
}

#toc * {
  list-style: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#toc ul {
  padding-left: 0.8rem;
}
#toc li {
  margin-top: 0.3rem;
}
.author-card-content {
  float: left;
  background-color: azure;
}
.author-card {
  display: block;
}

.avatar-img {
  margin: 20px;
  float: left;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: azure;
}
/* 
.markdown-body p{
  line-height: 1.8em!important;
} */
.UnderlineNav {
  background: #303f9f;
  color: white;
}
.UnderlineNav * {
  /* background: #303f9f; */
  color: white;
}



@media screen and (max-width: 1012px) {
  #holy {
    display: block;
  }
  #header {
  }
  #main {
    max-width: 1012px;
  }
  #side {
    display: none;
  }
}
